extends ../layout

block body
    div(class="uk-section")
        div(class=["uk-container", "uk-section-muted", "uk-flex", "uk-flex-column"])
            div(class=["uk-card", "uk-card-default", "uk-card-hover", "uk-margin"])
                div(class="uk-card-header") Instalacja
                div(class="uk-card-body")
                    div(class="flex")
                        div(class="uk-margin")
                            include ../forms/createuser_form