div#createHostModal(uk-modal)
    div(class=["uk-modal-dialog", "uk-modal-body"])
        include ../../forms/hosts/create_form
    div(class="uk-modal-title") Czy chcesz przejsc do tego zrzutu ekranu?