<form id="commandForm">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Wyslij komende</legend>
        <div class="uk-margin">
            <label>Komenda</label>
            <input class="uk-input" type="text" name="command" placeholder="dir">
        </div>
    </fieldset>
    <div class="uk-flex uk-flex-inline">
        <div>
            <button type="submit" class="uk-button uk-button-primary" id="commandFormBtn">Wyslij</button>
        </div>
        <div>
            <div uk-spinner id="commandSpinner" style="display: none"></div>
        </div>
    </div>
</form>