//- Layout pug
doctype html
html
    head
        title Vulcan Virus manager
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        style .uk-notification-message {background: #222}
    body
        header
            nav(class=["uk-background-primary", "uk-light"], uk-navbar)
                div(class="uk-navbar-left")
                    a(class=["uk-navbar-item", "uk-logo"], href="" + address) Vulcan Virus
        main
            block body
        block scripts
            script(
                src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js",
                integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=",
                crossorigin="anonymous"
                )

            script(src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js")
            script(src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js")
            script(src="" + address + "/static/js/main.js")