form#createHostForm(method="post")
    fieldset(class="uk-fieldset")
        legend(class="uk-legend") Utworz host
        div(class="uk-margin")
            label Name
                input(class="uk-input", type="text", name="name", placeholder="name" autofocus=true)
        div(class="uk-margin")
            label Tag
                input(class="uk-input", type="text", name="tag", placeholder="tag" autofocus=true)
        div(class="uk-margin")
            label Alias
                input(class="uk-input", type="text", name="alias", placeholder="alias" autofocus=true)

    div(class=["uk-flex", "uk-flex-inline"])
        div
            button#websiteFormBtn(type="submit" class=["uk-button", "uk-button-primary"]) Utworz
